
<!DOCTYPE html>
<html>
    <!-- HEAD -->
    <head>
        <meta charset="UTF-8">
        
        <title>Datasets2Tools</title>

        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Graph_betweenness.svg/2000px-Graph_betweenness.svg.png" type="image/x-icon">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>


        <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.css') }}" rel="stylesheet"/>

        <!-- GEO2Enrichr includes -->
        <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='style/pages.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='style/tags.css') }}" rel="stylesheet" type="text/css"/>
    </head>

    <!-- BODY -->
    <body>
            
        <!-- HEADER -->
        <div id="header" class="navbar-static-top">
            
            <!-- LOGO -->
            <div class="container-full" id="logo">
                <div class="container">
                    
                    <h1 style="vertical-align:-23px;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Graph_betweenness.svg/2000px-Graph_betweenness.svg.png" style="width:75px;height:75px" align="middle">
                        <a href="/"><span>&nbspDatasets</span><span class="highlight">2</span>Tools</a>
                    </h1>
                </div>
            </div>
            
            <!-- NAVBAR -->
            <div class="container-full">
                <div class="container">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="new">New Canned Analysis</a>
                            </li>
                            <li>
                                <a href="save">Save Canned Analysis</a>
                            </li>
                            <li>
                                <a href="datasets">Browse Datasets</a>
                            </li>
                            <li>
                                <a href="tools">Browse Tools</a>
                            </li>
                            <li class="last">
                                <a href="about">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
                
        <!-- FULL -->
        <div class="container-full">
            <div id="page" class="container">
                        
                <!-- INTRO PAGE -->
                <div id="index-page">
                    <div id="intro-text">
                        <h1> New Analysis </h1>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <!-- CONTENTS -->
                <br>
                <h3> Canned Analysis Form </h3>

                <!-- FORM -->
                <form id="upload-form">

                    <!-- SECTION 1 - DATASET -->
                    <table class="table input-group">
                        <caption class="first">Please input or select dataset.</caption>
                            <tr>
                                <td>Dataset Selection</td>
                                <td id="dataset_selection">
                                    <input type="radio" name="dataset_selection" value="search"> Search &nbsp
                                    <input type="radio" name="dataset_selection" value="manual"> Manual
                                </td>
                            </tr>
                    </table>

                    <div class="table input-group" id="dataset_selection_search" style="display:none">
                            <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSearch Dataset using API.</b> <br><br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbspAutomatically fills in required fields:
                            <ul>
                            <ul>
                                <li> Dataset URL </li>
                                <li> Dataset Accession </li>
                                <li> Dataset Name </li>
                                <li> Database </li>
                            </ul>
                            </ul>
                    </div>
                    
                    <div class="table input-group" id="dataset_selection_manual" style="display:none">
                            <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspManually specify dataset.</b> <br><br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbspRequires the user to specify the following fields:
                            <ul>
                            <ul>
                                <li> Dataset URL </li>
                                <li> Dataset Accession </li>
                                <li> Dataset Name </li>
                                <li> Database </li>
                                <li> If applicable: Upload dataset. </li>
                            </ul>
                            </ul>
                    </div>
                    
                    <!-- SECTION 2 - TOOL -->
                    <table class="table input-group">
                        <caption class="first">Please input or select tool.</caption>
                            <tr>
                                <td>Tool Selection&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                                <td id="tool_selection">
                                    <input type="radio" name="tool_selection" value="search"> Search &nbsp
                                    <input type="radio" name="tool_selection" value="manual"> Manual
                                </td>
                            </tr>
                    </table>


                    <div class="table input-group" id="tool_selection_search" style="display:none">
                            <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSearch Tool from Database.</b> <br><br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbspAutomatically fills in required fields:
                            <ul>
                            <ul>
                                <li> Tool URL </li>
                                <li> Tool Name </li>
                                <li> Tool Icon </li>
                                <li> If applicable: Tool developer name/URL, Tool video tutorial etc. </li>
                            </ul>
                            </ul>
                    </div>
                    
                    <div class="table input-group" id="tool_selection_manual" style="display:none">
                          <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspManually specify tool.</b> <br><br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbspRequires the user to specify the following fields:
                            <ul>
                            <ul>
                                <li> Tool URL </li>
                                <li> Tool Name </li>
                                <li> Tool Icon </li>
                                <li> If applicable: Tool developer name/URL, Tool video tutorial etc. </li>
                            </ul>
                            </ul>
                    </div>
                    

                    <!-- SECTION 3 - ANALYSIS -->
                    <table class="table input-group">
                        <caption class="first">Please insert analysis data and metadata.</caption>
                            <tr>
                                <td><b>Canned Analysis URL (required)</b></td>
                                <td> <input type="text" class="form-control input-sm" name="canned_analysis_url" value="" required></td>
                            </tr>
                    </table>

                                Optional metadata:
                            <ul>
               <!--                  <li> Cell type or tissue </li>
                                <li> Perturbation </li>
                                <li> Manipulated gene </li>
                                <li> Relevant disease </li> -->
                                <li> Description </li>
                                <li> Additional tags </li>
                            </ul>


                    <!-- TEMPLATE -->
                  <!--   <table class="table input-group">
                        <caption class="first">Please insert analysis data and metadata.</caption>
                            <tr id="file-input">
                                <td>File (500 MB max)</td>
                                <td> <input type="file" name="file"> </td>
                            </tr>
                            <tr>
                                <td>Organism</td>
                                <td>
                                    <select id="cutoff" name="cutoff">
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="200">200</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td> <input type="text" class="form-control input-sm" name="name" value=""></td>
                            </tr>
                    </table> -->

                    <br>
                    <br>
                    <br>

                    <!-- SUBMIT BUTTON -->
                    <button class="btn btn-primary" id="upload-button" type="submit">Extract gene lists</button>
                </form>







                    <!-- Load JavaScript -->

                    <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>


                    <h1>Testing area:</h1>

                    <div id="search"> Search </div>
                    <div id="manual"> Manual </div>


                    <script type="text/javascript">

                        // Select all forms
                        $forms = $('form')

                        // Create formData object
                        formData = new FormData($forms[0])

                        // document.write(Object.keys(values));
                        // document.write(values['dataset_selection']);

                        $('#dataset_selection').change(dataSearchChange)
                        $('#tool_selection').change(toolSearchChange)


                        function dataSearchChange(event){
                            var method = $(event.target).val()
                            if (method === 'search'){
                                $('#dataset_selection_search').show()
                                $('#dataset_selection_manual').hide()
                            } else {
                                $('#dataset_selection_search').hide()
                                $('#dataset_selection_manual').show()
                            }
                        }


                        function toolSearchChange(event){
                            var method = $(event.target).val()
                            if (method === 'search'){
                                $('#tool_selection_search').show()
                                $('#tool_selection_manual').hide()
                            } else {
                                $('#tool_selection_search').hide()
                                $('#tool_selection_manual').show()
                            }
                        }

                        // $(function getVal(){

                        //     // Define empty values
                        //     var values = {};

                        //     // Add values from form, called by ID
                        //     $.each($('#upload-form').serializeArray(), function(i, field) {
                        //         values[field.name] = field.value;
                        //     });

                        //     // Write values
                        //     document.write(Object.keys(values));
                        // });


                    </script>




                    <br>
                    <br>
                    <br>
                  




            </div>
        </div>



        <!-- FOOTER -->
        <div class="container-full" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>About</h5>
                        <p></p>
                    </div>
                    <div class="col-md-4">
                        <h5>Citation</h5>
                        <p></p>
                    </div>
                    <div class="col-md-4">
                        <h5>Contact</h5>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>